html, body {
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: #1a1d21;
    display: flex;
    color: #d1d2d3;
}
h1, h2, h3, h4, h5, h6, h7 {
    font-family: Sans-serif;
    color: #ffffff;
}
#menu {
    height: 100%;
    overflow: hidden;
    background-color: #19171d;
    padding: 0;
    border-right: 1px #2b2a2f solid;
    min-width: 250px;
}
#menu h1 {
    color: #ffffff;
    cursor: pointer;
    padding: 0 10px;
}
#menu ul {
    list-style: none;
    padding: 0 0 0 10px;
    margin: 0;
}
#menu > ul {
    overflow: scroll;
    height: calc(100% - 95px);
}
#menu li.active {
    background-color: #2b2a2f;
}
#menu li.dir::before {
    content: "\2795\20";
}
#menu li.dir > ul {
    display: none;
}
#menu li.dir.open::before {
    content: "\2796\20";
}
#menu li.dir.open > ul {
    display: inherit;
}
#menu a, #menu a:link, #menu a:visited, #menu a:hover, #menu a:active {
    color: gainsboro;
    text-decoration: none;
}
#menu li.active a {
    color: #ffffff;
}
#content {
    padding-left: 10px;
    height: 100%;
    overflow: scroll;
}
body.collapsed #menu {
    min-width: 65px;
}
body.collapsed #menu h1 {
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    margin: 0;
    padding: 10px;
}
.hidden, body.collapsed #menu ul {
    display: none;
}
