html, body {
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: gainsboro;
    display: flex;
}
h1, h2, h3, h4, h5, h6, h7 {
    font-family: Sans-serif;
}
#menu {
    height: 100%;
    overflow: hidden;
    background-color: #090C9B;
    padding: 0;
    border-right: 1px #D00000 solid;
    min-width: 250px;
}
#menu h1 {
    color: #D00000;
    cursor: pointer;
    padding: 0 10px;
}
#menu ul {
    list-style: none;
    padding: 0 0 0 10px;
    margin: 0;
}
#menu > ul {
    overflow: scroll;
    height: calc(100% - 95px);
}
#menu li.active {
    background-color: #D00000;
}
#menu li.dir > ul {
    display: none;
}
#menu li.dir.open > ul {
    display: inherit;
}
#menu a, #menu a:link, #menu a:visited, #menu a:hover, #menu a:active {
    color: gainsboro;
    text-decoration: none;
}
#menu li.active a {
    color: #090C9B;
}
#content {
    padding-left: 10px;
    height: 100%;
    overflow: scroll;
}
body.collapsed #menu {
    min-width: 65px;
}
body.collapsed #menu h1 {
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    margin: 0;
    padding: 10px;
}
.hidden, body.collapsed #menu ul {
    display: none;
}
