<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=6">
        <title>MarkDown Aggregator</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/markdown.css">
        <link rel="stylesheet" href="/highlightjs/styles/default.min.css">
        <link rel="stylesheet" href="/highlightjs/styles/github-dark.min.css">
        <script defer src="/showdown/showdown.min.js"></script>
        <script defer src="/highlightjs/highlight.min.js"></script>
        <script defer src="/highlightjs/languages/elixir.min.js"></script>
        <script defer src="/highlightjs/languages/go.min.js"></script>
        <script defer src="/highlightjs/languages/rust.min.js"></script>
        <script src="/script.js"></script>
    </head>
    <body>
        <div id="menu">
            <h1>&#x2630; MarkDown Aggregator</h1>
            <ul>
            {{#tree}}
                <li data-owner="{{entry.config_entry}}"{{#is_dir}} class="dir"{{/is_dir}}><a href="/{{path}}">{{display}}</a></li>
            {{/tree}}
            </ul>
        </div>
        <article id="content">
            <h1>Welcome!</h1>

            <p>Built with <a href="https://github.com/nappa85/md-aggregator">MD-Aggregator</a></p>
        </article>
    </body>
</html>
