<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=6">
        <title>MarkDown Aggregator</title>
        <style>
            html, body {
                padding: 0;
                margin: 0;
            }
            body {
                height: 100vh;
                width: 100vw;
                background-color: gainsboro;
            }
            * {
                box-sizing: border-box;
            }
            h1, h2, h3, h4, h5, h6, h7 {
                font-family: Sans-serif;
            }
            #menu {
                width: 300px;
                height: 100%;
                overflow: hidden;
                float: left;
                background-color: grey;
                padding: 0 10px;
            }
            #menu h1 {
                position: abolute;
                color: darkolivegreen;
                text-shadow: 0 0 10px black;
            }
            #menu ul {
                list-style: none;
                padding-left: 10px;
                overflow: scroll;
                height: 100%;
                margin-top: 85px;
            }
            #menu li.active {
                background-color: darkolivegreen;
            }
            #menu li.dir > ul {
                display: none;
            }
            #menu li.dir.open > ul {
                display: inherit;
            }
            #menu a, #menu a:link, #menu a:visited, #menu a:hover, #menu a:active {
                color: white;
                text-decoration: none;
            }
            #content {
                padding-left: 10px;
                height: 100%;
                overflow: scroll;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
        <script>
            var converter;
            function open(url, owner) {
                $.ajax({
                    type: "GET",
                    url: url,
                    data: { owner: owner },
                    success: function(data) {
                        var content = $(converter.makeHtml(data));
                        content.find('a').each(function() {
                            var href = $(this).attr("href");
                            if(href && href.indexOf("http") !== 0) {
                                $(this).attr("href", href + ((href.indexOf('?') < 0)?'?':'&') + "owner=" + owner);
                            }
                        });
                        content.find('img').each(function() {
                            var href = $(this).attr("src");
                            if(href && href.indexOf("http") !== 0) {
                                $(this).attr("src", href + ((href.indexOf('?') < 0)?'?':'&') + "owner=" + owner);
                            }
                        });
                        $("#content").html(content);
                    },
                    contentType: "application/json",
                    dataType: "text"
                });
            }
            $(function() {
                converter = new showdown.Converter();
                $("li a").click(function(event) {
                    event.preventDefault();
                    if($(this).parent().hasClass("dir")) {
                        $(this).parent().toggleClass("open");
                    }
                    else {
                        $("li.active").toggleClass("active");
                        $(this).parent().toggleClass("active");
                        var url = $(this).attr("href");
                        open(url, $(this).parent().attr("owner"))
                        window.history.pushState({}, '', url);
                    }
                });
                $("#menu li.dir").each(function() {
                    var next = $(this).next();
                    if(next && next.length > 0) {
                        var url = $(this).children("a").attr('href');
                        if(window.location.pathname.indexOf(url) === 0) {
                            $(this).addClass("open");
                        }
                        var newParent = $("<UL>").appendTo($(this));
                        while(next && next.children("a").attr('href') && next.children("a").attr('href').indexOf(url) === 0) {
                            $(this).next().appendTo(newParent);
                            next = $(this).next();
                        }
                    }
                    else {
                        $(this).hide();
                    }
                });
                $("#menu li a[href='" + window.location.pathname + "']").each(function() {
                    $(this).parent().toggleClass("active");
                    open(window.location.pathname, $(this).parent().attr("owner"));
                });
            });
        </script>
    </head>
    <body>
        <div id="menu">
            <h1>MD-Aggregator</h1>
            <ul>
            {{#tree}}
                <li owner="{{entry.config_entry}}"{{#is_dir}} class="dir"{{/is_dir}}><a href="/{{path}}">{{display}}</a></li>
            {{/tree}}
            </ul>
        </div>
        <div id="content"></div>
    </body>
</html>
